<div class="site-header">

	<section>
		
		<header>
			<span class="link" ng-click="navigateToHome()">RYANCREWS.com</span>
		</header>

		<footer>
			
			<ul class="buttons">

				<!--li class="link" ng-click="navigateToShirts()">
					<i class="fa fa-rocket"></i>
				</li-->

				<li class="link" ng-click="navigateToGithub()">
					<i class="fa fa-github"></i>
				</li>
				
				<li class="link" ng-click="navigateToTwitter()">
					<i class="fa fa-twitter"></i>
				</li>
			
			</ul>

		</footer>

	</section>

</div>
