<%#
This partial assumes it is included by a parent that has
a scope variable named 'post' that is a Post.js.coffee
instance.
%>
<section class="post-preview-full-width-brief" 
				 ng-click="navigateToLink(post.showLink())">

	<%# title %>
	<header>
		{{ post.title }}
	</header>

	<%# category | publish date %>
	<footer>
		<%= render partial: "posts/partials/category_name_and_publish_date" %>
	</footer>
	
	<%# teaser text %>
	<section ng-bind-html="post.teaser_text">
	</section>

</section>
