$really-too-big: 2.25em;
$big-ass-title: 1.75em;
$largest: 1.500em;
$larger: 1.250em;
$large: 1.125em;
$normal: 1em;
$small: 0.875em;
$smaller: 0.750em;
$smallest: 0.690em;

@mixin font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

@mixin font-inconsolata {
  font-family: 'Inconsolata';
}
