<div class="site-footer">

	<section>

		<%# site links %>
		<header>
			
			<%# first level is of inline-block groups %>
			<ul>

				<%# site stuff %>
				<li>
					<ul>
						<li ng-click="navigateToSiteStuff()">
							site stuff
						</li>
						<li ng-click="navigateToAbout()">
							about
						</li>
						<li ng-click="navigateToDisclosure()">
							disclosure
						</li>
					</ul>
				</li>

				<%# categories %>
				<li>
					<ul>
						<li ng-click="navigateToLink('/categories')">
							categories
						</li>
						<li ng-repeat="category in footer_categories"
								ng-click="navigateToLink(category.showLink())">
							{{ category.name }}
						</li>
					</ul>
				</li>

				<%# apps %>
				<li>
					<ul>
						<li ng-click="navigateToApps()">
							apps
						</li>
						<li ng-repeat="post in apps_category.posts"
								ng-click="navigateToLink(post.showLink())">
							{{ post.name }}
						</li>
					</ul>
				</li>

			</ul>

		</header>

		<%# copyright notice %>
		<footer>
			<i class="fa fa-copyright"></i> <%= Date.today.year %> Leonard Ryan Crews
		</footer>

	</section>

</div>
