<%#
Assumes it's included by a parent that has a scope variable
named post, which is a Post.js instance.
%>
<span ng-class="classForCategory(post.category)" 
			ng-click="showCategory($event, post.category)"
			rc-hover-element
			rc-hover-message="view category">
	{{ post.categoryName() }}
</span> | {{ post.created_at | date: 'MMMM d, y' }}
