@import "mixins";

body.rcblog > section.page-container {
	
	> section.all-categories {
		
		> * {
			@media (max-width: 64em) { width: 100%; }
			@media (min-width: 64.001em) and (max-width: 78.124em) { width: 64em; }
			@media (min-width: 78.125em) { width: 78.125em; }
		}
		
		/* The Fixed (Top) Part */
		> header {
			height: $height-of-site-header + 1em;
  		position: fixed;
  		top: 0;
			z-index: $z-negative;
		}

		/* The Slidey (Lower) Part */
		> footer {
			background-color: $background-light;
			border-left: 0.033em solid $background-dark;
			border-top: 0.033em solid $background-dark;
			height: 100%;
			margin-top: $height-of-site-header + 1em;
			min-height: 25em;
			position: relative;
			z-index: $z-low;

			-webkit-transition: margin-top 0.5s ease-out;
			transition: margin-top 0.5s ease-out;

			> section {
				height: 100%;
				width: 100%;

				> header {
					background-color: $background-dark;
					color: $font-light;
					display: inline-block;
					font-size: $large;
					padding: 0.500em 2em 0.500em 1em;
				}

				> ul {

					> li {
						border-bottom: 0.033em solid $background-dark;
						padding: 1em 0.750em;
					}
				}
			}
		}
	}
}
