@import "mixins";

html,
body,
button,
input,
select,
textarea {
	font-size: 100%;
  font-weight: normal;
  @include font-open-sans;
  line-height: 150%;
}
ol,
ul {
  clear: both;
  list-style: none;
  margin: 0;
	padding: 0;
}
body.rcblog {
	> section.page-container {
		margin: 0 auto;
		min-height: 25em;
		@media (max-width: 64em) { width: 100%; }
		@media (min-width: 64.001em) and (max-width: 78.124em) { width: 64em; }
		@media (min-width: 78.125em) { width: 78.125em; }
	}
}
.link {
	color: $font-cobalt;
	cursor: pointer;

	&:hover {
		color: $font-blue;
	}
}
