<section class="home" ng-controller="HomeController" ng-init="initialize()">
	
	<%# 
	This page has an interesting effect,
	this header is the fixed (top) part
	of this effect.
	%>
	<header>
		<section>

			<%# This holds the big ass image %>
			<header>
				<%= image_tag "home/rc_blog_bg_1200_675.jpg" %>
			</header>

			<%# This holds the text %>
			<footer>
				<span>ideas, code, explanations, and probably some rantings told through (occasionally geeky) trains of thought</span>
				<div>...you know, just another tech blog.</div>
			</footer>

		</section>
	</header>
	
	<%#  
	This is the remaining content (bottom)
	%>
	<footer>

		<%# Latest Posts %>
		<section>

			<%# title / link to all posts %>
			<header>
				<ul>
					<li>Latest Posts</li>
					<%# link to all posts %>
					<li class="action-container">
						<ul>
							<li class="link smaller-text" 
									ng-click="navigateToAllPosts()">
								All Posts
							</li>
						</ul>
					</li>
				</ul>
			</header>

			<%# six most recent posts %>
			<ul>
				<li ng-repeat="post in posts">
					<%= render partial: "posts/partials/full_width_brief" %>
				</li>
			</ul>

			<%# link to all posts %>
			<footer>
				<ul>
					<li class="link smaller-text" 
							ng-click="navigateToAllPosts()">
						All Posts
					</li>
				</ul>
			</footer>
			
		</section>
		
	</footer>
	
</section>
