<section class="show-category" ng-controller="CategoryController" ng-init="initialize()">
	
	<%# 
	This page has an interesting effect,
	this header is the fixed (top) part
	of this effect.
	%>
	<header ng-if="introPostPresent()">
		<section>
			
			<%# intro post cell %>
			<%= render partial: "posts/partials/full_width_brief" %>

			<footer>
				<span class="link" ng-click="navigateToLink(category.intro_post.showLink())">Read Entire Category Introduction Post</span>
			</footer>

		</section>
	</header>
	
	<%#  
	This is the remaining content (bottom)
	TODO: post-mvp, add paging
	%>
	<footer>
		<section>

			<%# section title  %>
			<header>
				All "{{ category.name }}" Posts
			</header>

			<%# the posts in this category %>
			<ul>
				<li ng-repeat="post in category.posts">
					<%= render partial: "posts/partials/full_width_brief" %>
				</li>
			</ul>

			<%# for desired UI (plus I may put paging here via 'load more' eventually) %>
			<footer>
			</footer>

		</section>
	</footer>

</section>
