@import "mixins";

body.rcblog > section.page-container {
	
	section.post-preview-full-width-brief {
		cursor: pointer;

		> header {
			color: $font-cobalt;
			font-size: $largest;

			&:hover {
				color: $font-blue;
			}
		}

		> footer {
			font-size: $smaller;
		}
	}
}
